<form>
  <div class="form-group">
    <label for="url">URL of the site</label>
    <input type="url" class="form-control" id="url" placeholder="Enter the site url you want to test">
    <small id="emailHelp" class="form-text text-muted">You will redirected to your dashboard for the results.</small>
  </div>
  <div class="form-group">
    <select class="form-control select-type">
        <option>Readability</option>

    </select>
  </div>

  <button type="submit" class="btn btn-dark">Submit</button>
</form>