<div class="wrapper">
    <div class="sidebar">
        <h2>ITMS</h2>
        <ul>
            <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/dashboard"><i class="fas fa-user"></i>Dashboard</a></li>
            <li><a href="/selenium"><i class="fas fa-address-card"></i>Selenium</a></li>
            <li><a href="/readability"><i class="fas fa-project-diagram"></i>Readability</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
        </ul>
    </div>

</div>