<div class="wrapper">
    <div class="sidebar">
        <h2>ITMS</h2>
        <ul>
            <li><a id="index-link" ><i class="fas fa-home"></i>Home</a></li>
            <li><a><i class="fas fa-user"></i><div id="dashboard-link" >Dashboard</div></a></li>
            <li><a id="selenium-link" ><i class="fas fa-address-card"></i>Selenium</a></li>
            <li><a id="readability-link" ><i class="fas fa-project-diagram"></i>Readability</a></li>
            <li><a id="performance-link" ><i class="fas fa-project-diagram"></i>Performance</a></li>

        </ul>
    </div>

</div>