.logs{
    margin: auto;
    display: block;
    padding: 10px;
    background: #343a40;
    box-shadow: 4px 4px 6px 4px #343a40;
}

.logs, .readability h1{
    color: #ffffffe6;
    text-align: center;
}

.log-item{
    display: block;
    width: 100%;
    height:auto;
    color: #7e8d9c;
    margin: 0 10px;
    padding: 10px;
    word-break: break-word;
    text-align:left;
}

.readability{
    width: 80%;
    margin: auto;
    display: block;
    padding: 10px;
    background: #343a40;
    box-shadow: 4px 4px 6px 4px #343a40;
}
.readability-score{
    height:auto;
    color: #7e8d9c;
    margin: 0 10px;
    padding: 5px;
    word-break: break-word;
}
.readability-item{
    display: block;
    width: 100%;
    height:auto;
    color: #7e8d9c;
    margin: 0 10px;
    padding: 5px;
    word-break: break-word;
}