<!DOCTYPE html>
<html lang="en">
{% include 'partials/header.html' %}
<body>

<div>
    {% include 'partials/sidebar.html' %}
</div>


<h1 class="main-header">Dashboard</h1>

<div class="row" style="margin-top:3%">
    <div class="col-lg-5" style="margin-left:16%">

        <section id="logs-section" style="display:none">
            <div class="logs">
                <h1>Logs</h1>
                <div class="log-items">

                </div>

            </div>

        </section>

    </div>
    <div class="col-lg-5">
        <section id="readability-section" style="display:none">
            <div class="readability">
                <h1>Readability</h1>
                <div class="readability-items">

                </div>
            </div>

        </section>

    </div>
</div>


</body>



<script type="text/javascript" src="{{ url_for('static', filename='dashboard.js') }}"></script>


</html>