<!DOCTYPE html>
<html lang="en">
{% include 'partials/header.html' %}

<body>

    <div>
        {% include 'partials/sidebar.html' %}

    </div>

        <section class="section" id="index-section">
            <div class="main">
                {% include 'partials/form.html' %}
            </div>
        </section>

        <section class="section" id="dashboard-section" style="display:none">
            {% include 'dashboard.html' %}
        </section>

        <section class="section" id="readability-section" style="display:none">
            <div class="main">
                {% include 'readability.html' %}
            </div>
        </section>

        <section class="section" id="selenium-section" style="display:none">
            {% include 'sel_tool.html' %}
        </section>

    </body>

</html>