<!DOCTYPE html>
<html lang="en">
{% include 'partials/header.html' %}

<body>


<div>
    {% include 'partials/sidebar.html' %}

</div>

<div class="row">
  <div class="col-lg-12" style="text-align:center">
        <h1 style="font-family:monospace; color:#343a40">Automated tests with Selenium tool</h1>

  </div>
</div>

<div class="container">
  <div class="card">
    <h3 class="title">Youtube Search</h3>
  </div>
  <div class="card">
    <h3 class="title">Twitter Search</h3>
  </div>
</div>



</body>
</html>

